{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Primera columna</h1>
        <p>Texto random para mostrar</p>
    </div>
    <div class="col-4">
        <img src="assets/img/pirata.jpeg" class="img-thumbnail">
    </div>
</div>


{{> footer}}